# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
ts-errors.log

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Vite build output
dist
dist-ssr
build/
out/

# Output of 'npm pack'
*.tgz

# optional npm cache directory
.npm

# optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.*
!.env.example

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.sln
*.sw?

# Vercel
.vercel

# Testing
coverage/
cypress/videos/
cypress/screenshots/

# Temporary files / scratchpad
*.temp
*.tmp
typecheck-out*.txt
